body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
   
}
h1{
    font-size: 50px;
    
}
.name{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    margin-top: 10%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    border-radius: 5px;
    padding :8px 16px;
    background-image: linear-gradient(150deg, rgb(0, 255, 221), darkblue);    
    text-decoration: none;
    color: black;
    font-weight: 700;

    
    
}